{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock header %}
  

{% block upjava %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock upjava %}
  
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">
          <div class="card card-primary">
            <div class="card-body ">
              <div class="table-responsive">
              <table class="table table-bordered hover cell-border " id="userDetailTable"  >
                <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Mobile No</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">ID TYPE</th>
                  <th scope="col">ID Number</th>
                  <!-- <th scope="col">Joined On</th> -->
                  <!-- <th scope="col">Department</th> -->
                </tr>
              </thead>
              <tbody>
                {% for d in data %}
                  <td>{{forloop.counter}}</td>
                  <td>{{d.MOBILE_NUMBER}}</td>
                  <td>{{d.FIRST_NAME}}</td>
                  <td>{{d.LAST_NAME}}</td>
                  <td>{{d.ID_TYPE}}</td>
                  <td>{{d.ID_NUMBER}}</td>

                {% endfor %}
              </tbody>
              </table>
              </div>      
            </div>
          </div>    
        </div>
    </div>
  </div>

</section>
  {% endblock content %}

  {% block endjava %}
  <script src="{% static 'list.js' %}"></script>
  {% endblock endjava %}